{% if page.has_other_pages %}
<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="First">
                <i class="bi bi-chevron-double-left"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
                <i class="bi bi-chevron-left"></i>
            </a>
        </li>
        {% endif %}

        {% for num in page.paginator.page_range %}
            {% if page.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                <i class="bi bi-chevron-right"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page.paginator.num_pages }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Last">
                <i class="bi bi-chevron-double-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}